<html>
  <head>
    <title>Pending Tasks</title>
  </head>
  <body
    style="
      width: 100%;
      height: 100%;
      background-color: #ededed;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      style="
        max-width: 30rem;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 2rem;
        padding-top: 10rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 1rem;
          margin-bottom: 2rem;
        "
      >
        <a href="/tasks/"> Pending Tasks </a>
        <a href="/completed_tasks/"> Completed Tasks </a>
        <a href="/all_tasks/"> Report </a>
      </div>
      <form
        style="display: flex; flex-direction: row; gap: 1rem"
        action="/add-task/"
        method="GET"
      >
        {% csrf_token %}
        <input
          name="task"
          type="text"
          placeholder="Enter Task"
          style="
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
            width: 100%;
          "
        />
        <button
          type="submit"
          style="
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border-radius: 0.5rem;
            background-color: green;
            cursor: pointer;
            color: white;
            font-weight: 600;
            border: 0px;
          "
        >
          Add
        </button>
      </form>
      <h3 style="margin-top: 5rem">Tasks</h3>
      {% if pending_tasks %} {% for task in pending_tasks %}
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: start;
        "
      >
        <span style="margin-top: 0.3rem"
          >{{forloop.counter}}. {{task.title}}</span
        >
        <form action="/complete_task/{{task.id}}" method="GET">
          {% csrf_token %}
          <button
            type="submit"
            style="
              padding: 0.4rem;
              padding-left: 1rem;
              padding-right: 1rem;
              border-radius: 0.5rem;
              background-color: green;
              cursor: pointer;
              color: white;
              font-weight: 600;
              border: 0px;
            "
          >
            Mark as Done
          </button>
        </form>
        <form action="/delete-task/{{task.id}}" method="GET">
          {% csrf_token %}
          <button
            type="submit"
            style="
              padding: 0.4rem;
              padding-left: 1rem;
              padding-right: 1rem;
              border-radius: 0.5rem;
              background-color: red;
              cursor: pointer;
              color: white;
              font-weight: 600;
              border: 0px;
            "
          >
            Delete
          </button>
        </form>
      </div>
      {%endfor%} {% else %}
      <p style="color: gray">No tasks pending</p>
      {% endif %}
    </div>
  </body>
</html>
